body{

font-family:'Poppins',sans-serif;

}


.navbar{

background:#004d40;

}


.hero{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.65)
),
url("../assets/images/construction.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

color:white;

}


.hero h1{

font-size:4rem;

font-weight:800;

}


.hero p{

font-size:1.3rem;

}



.about-box{

background:#004d40;

color:white;

padding:40px;

border-radius:20px;

text-align:center;

}


.about-box i{

font-size:60px;

}





.services{

background:#f8f9fa;

}


.service-card{

background:white;

padding:35px;

border-radius:20px;

text-align:center;

height:100%;

transition:.3s;

box-shadow:0 10px 30px #ddd;

}


.service-card:hover{

transform:translateY(-10px);

}



.service-card i{

font-size:50px;

color:#f57c00;

}




.counter{

background:#004d40;

color:white;

padding:50px 0;

}


.counter h2{

font-size:45px;

font-weight:800;

}





.contact{

background:#f8f9fa;

}


footer{

background:#00332c;

color:white;

padding:20px;

text-align:center;

}



.whatsapp{

position:fixed;

right:25px;

bottom:25px;

background:#25d366;

color:white;

font-size:35px;

width:60px;

height:60px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

text-decoration:none;

}